* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    box-shadow: 0px 0px 19px 0px #8cff65;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
}

.calculator h2 {
    text-align: center;
}

input {
    width: calc(100% - 20px);
    height: 40px;
    border: none;
    border: 1px solid #cffdbf;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 15px 0px;
    background-color: #dffcd6;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #dffcd6;
    cursor: pointer;
}

button:hover {
    background-color: #cffdbf;
}